{% extends 'base.html.twig' %}

{% block title 'Sujets' %}

{% block body %}
    {% for subject in subjects %}
        <article class="card card-block">
            <h3 class="card-title">{{ subject.title }}</h3>
            <section class="card-text">{{ subject.description }}</section>
            <span class="card-text">
                <small class="text-muted">
                    {{ subject.updatedAt|localizeddate }}
                </small>
            </span>
        </article>
    {% endfor %}
{% endblock %}